{
  "openapi": "3.1.0",
  "info": {
    "title": "Datenkatalog BBL API",
    "version": "0.5.0",
    "summary": "API für den Datenkatalog des BBL",
    "description": "Die Datenkatalog-API stellt Metadaten zu Geschäftsobjekten, Datentabellen, Referenzdaten, Datenprodukten und Datenschnittstellen bereit. Sie ermöglicht die bereichsübergreifende Suche sowie den Export nach DCAT-AP CH."
  },
  "servers": [
    {
      "url": "https://datenkatalog.bbl.admin.ch/api/v1",
      "description": "Produktive API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Geschäftsobjekte",
      "description": "Systemunabhängige Fachbegriffe und ihre Attribute."
    },
    {
      "name": "Datentabellen",
      "description": "Technische Systeme, Tabellen und Felder."
    },
    {
      "name": "Referenzdaten",
      "description": "Kontrollierte Wertelisten und Codes."
    },
    {
      "name": "Datenprodukte",
      "description": "Verantwortete Datenangebote für Nutzende."
    },
    {
      "name": "API-Verzeichnis",
      "description": "Im Katalog beschriebene Datenschnittstellen."
    },
    {
      "name": "Suche und Export",
      "description": "Bereichsübergreifende Suche und Metadatenexport."
    }
  ],
  "paths": {
    "/concepts": {
      "get": {
        "tags": ["Geschäftsobjekte"],
        "summary": "Geschäftsobjekte auflisten",
        "operationId": "listBusinessObjects",
        "parameters": [
          { "$ref": "#/components/parameters/Query" },
          { "$ref": "#/components/parameters/Domain" },
          { "$ref": "#/components/parameters/Status" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" }
        ],
        "responses": {
          "200": {
            "description": "Gefundene Geschäftsobjekte",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BusinessObjectCollection" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/concepts/{conceptId}": {
      "get": {
        "tags": ["Geschäftsobjekte"],
        "summary": "Geschäftsobjekt abrufen",
        "operationId": "getBusinessObject",
        "parameters": [
          { "$ref": "#/components/parameters/ConceptId" }
        ],
        "responses": {
          "200": {
            "description": "Steckbrief des Geschäftsobjekts",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BusinessObject" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/concepts/{conceptId}/attributes": {
      "get": {
        "tags": ["Geschäftsobjekte"],
        "summary": "Attribute eines Geschäftsobjekts auflisten",
        "operationId": "listBusinessObjectAttributes",
        "parameters": [
          { "$ref": "#/components/parameters/ConceptId" }
        ],
        "responses": {
          "200": {
            "description": "Fachliche Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Attribute" }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/concepts/{conceptId}/relations": {
      "get": {
        "tags": ["Geschäftsobjekte"],
        "summary": "Beziehungen eines Geschäftsobjekts auflisten",
        "operationId": "listBusinessObjectRelations",
        "parameters": [
          { "$ref": "#/components/parameters/ConceptId" }
        ],
        "responses": {
          "200": {
            "description": "Verknüpfte Katalogeinträge",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Relation" }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/systems": {
      "get": {
        "tags": ["Datentabellen"],
        "summary": "Systeme auflisten",
        "operationId": "listSystems",
        "parameters": [
          { "$ref": "#/components/parameters/Query" }
        ],
        "responses": {
          "200": {
            "description": "Im Katalog dokumentierte Systeme",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/System" }
                }
              }
            }
          }
        }
      }
    },
    "/datasets": {
      "get": {
        "tags": ["Datentabellen"],
        "summary": "Datentabellen auflisten",
        "operationId": "listDatasets",
        "parameters": [
          { "$ref": "#/components/parameters/Query" },
          {
            "name": "system",
            "in": "query",
            "description": "Kennung des Systems",
            "schema": { "type": "string", "example": "sap" }
          },
          {
            "name": "businessObject",
            "in": "query",
            "description": "Kennung des realisierten Geschäftsobjekts",
            "schema": { "type": "string", "example": "gebaeude" }
          },
          { "$ref": "#/components/parameters/Status" }
        ],
        "responses": {
          "200": {
            "description": "Gefundene Datentabellen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Dataset" }
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{datasetId}": {
      "get": {
        "tags": ["Datentabellen"],
        "summary": "Datentabelle abrufen",
        "operationId": "getDataset",
        "parameters": [
          { "$ref": "#/components/parameters/DatasetId" }
        ],
        "responses": {
          "200": {
            "description": "Steckbrief der Datentabelle",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Dataset" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/datasets/{datasetId}/fields": {
      "get": {
        "tags": ["Datentabellen"],
        "summary": "Felder einer Datentabelle auflisten",
        "operationId": "listDatasetFields",
        "parameters": [
          { "$ref": "#/components/parameters/DatasetId" }
        ],
        "responses": {
          "200": {
            "description": "Technische Tabellenfelder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Field" }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/codelists": {
      "get": {
        "tags": ["Referenzdaten"],
        "summary": "Wertelisten auflisten",
        "operationId": "listCodeLists",
        "parameters": [
          { "$ref": "#/components/parameters/Query" },
          {
            "name": "source",
            "in": "query",
            "description": "Herausgebende Stelle",
            "schema": { "type": "string", "example": "GWR / eCH" }
          }
        ],
        "responses": {
          "200": {
            "description": "Gefundene Wertelisten",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/CodeList" }
                }
              }
            }
          }
        }
      }
    },
    "/codelists/{codeListId}/values": {
      "get": {
        "tags": ["Referenzdaten"],
        "summary": "Werte einer Werteliste auflisten",
        "operationId": "listCodeListValues",
        "parameters": [
          {
            "name": "codeListId",
            "in": "path",
            "required": true,
            "description": "Kennung der Werteliste",
            "schema": { "type": "string", "example": "gwr-gebaeudekategorie" }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Gewünschte Sprache",
            "schema": { "type": "string", "enum": ["de", "fr", "it"], "default": "de" }
          }
        ],
        "responses": {
          "200": {
            "description": "Codes und Bezeichnungen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/CodeValue" }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/data-products": {
      "get": {
        "tags": ["Datenprodukte"],
        "summary": "Datenprodukte auflisten",
        "operationId": "listDataProducts",
        "parameters": [
          { "$ref": "#/components/parameters/Query" },
          { "$ref": "#/components/parameters/Domain" }
        ],
        "responses": {
          "200": {
            "description": "Gefundene Datenprodukte",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/DataProduct" }
                }
              }
            }
          }
        }
      }
    },
    "/services": {
      "get": {
        "tags": ["API-Verzeichnis"],
        "summary": "Datenschnittstellen auflisten",
        "operationId": "listApiServices",
        "parameters": [
          { "$ref": "#/components/parameters/Query" },
          { "$ref": "#/components/parameters/Domain" }
        ],
        "responses": {
          "200": {
            "description": "Im Katalog dokumentierte Schnittstellen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ApiService" }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": ["Suche und Export"],
        "summary": "Den gesamten Katalog durchsuchen",
        "operationId": "searchCatalog",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Suchbegriff",
            "schema": { "type": "string", "minLength": 2, "example": "Gebäude" }
          },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Treffer aus allen Katalogbereichen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SearchHit" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/export/dcat": {
      "get": {
        "tags": ["Suche und Export"],
        "summary": "Katalog als DCAT-AP CH exportieren",
        "operationId": "exportDcat",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Serialisierungsformat",
            "schema": { "type": "string", "enum": ["turtle", "jsonld"], "default": "turtle" }
          }
        ],
        "responses": {
          "200": {
            "description": "DCAT-AP-CH-Metadaten",
            "content": {
              "text/turtle": {
                "schema": { "type": "string" },
                "example": "@prefix dcat: <http://www.w3.org/ns/dcat#> ."
              },
              "application/ld+json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Authentisierung über eIAM."
      }
    },
    "parameters": {
      "Query": {
        "name": "q",
        "in": "query",
        "description": "Volltextsuche in Name und Beschreibung",
        "schema": { "type": "string", "example": "Gebäude" }
      },
      "Domain": {
        "name": "domain",
        "in": "query",
        "description": "Kennung der Domäne",
        "schema": { "type": "string", "example": "bau" }
      },
      "Status": {
        "name": "status",
        "in": "query",
        "description": "Publikationsstatus",
        "schema": { "$ref": "#/components/schemas/Status" }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximale Anzahl Ergebnisse",
        "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "description": "Anzahl zu überspringender Ergebnisse",
        "schema": { "type": "integer", "minimum": 0, "default": 0 }
      },
      "ConceptId": {
        "name": "conceptId",
        "in": "path",
        "required": true,
        "description": "Kennung des Geschäftsobjekts",
        "schema": { "type": "string", "example": "gebaeude" }
      },
      "DatasetId": {
        "name": "datasetId",
        "in": "path",
        "required": true,
        "description": "Kennung der Datentabelle",
        "schema": { "type": "string", "example": "sap-vibdbe" }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Ungültige Anfrage",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentisierung erforderlich",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Katalogeintrag nicht gefunden",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    },
    "schemas": {
      "Status": {
        "type": "string",
        "enum": ["Entwurf", "Gültig", "Archiviert"],
        "example": "Gültig"
      },
      "EntityCore": {
        "type": "object",
        "required": ["identifier", "name", "description", "status", "modified"],
        "properties": {
          "identifier": { "type": "string", "example": "gebaeude" },
          "name": { "type": "string", "example": "Gebäude" },
          "description": { "type": "string", "example": "Ein dauerhaftes, überdachtes Bauwerk." },
          "status": { "$ref": "#/components/schemas/Status" },
          "version": { "type": "string", "example": "2024.1" },
          "created": { "type": "string", "format": "date", "example": "2021-09-03" },
          "modified": { "type": "string", "format": "date", "example": "2024-06-01" }
        }
      },
      "BusinessObject": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityCore" },
          {
            "type": "object",
            "required": ["domain", "responsible"],
            "properties": {
              "domain": { "type": "string", "example": "bau" },
              "responsible": {
                "type": "object",
                "properties": {
                  "dataOwner": { "type": "string", "example": "Martina Aebischer" },
                  "dataSteward": { "type": "string", "example": "Lukas Zbinden" }
                }
              },
              "attributeCount": { "type": "integer", "example": 7 },
              "normReference": { "type": "string", "example": "eCH-0071 v2.0, GWR" },
              "classification": { "type": "string", "example": "intern" },
              "personalData": { "type": "boolean", "example": false }
            }
          }
        ]
      },
      "BusinessObjectCollection": {
        "type": "object",
        "required": ["items", "total", "limit", "offset"],
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BusinessObject" }
          },
          "total": { "type": "integer", "example": 21 },
          "limit": { "type": "integer", "example": 20 },
          "offset": { "type": "integer", "example": 0 }
        }
      },
      "Attribute": {
        "type": "object",
        "required": ["identifier", "name", "valueType"],
        "properties": {
          "identifier": { "type": "string", "example": "egid" },
          "name": { "type": "string", "example": "EGID" },
          "description": { "type": "string", "example": "Eidgenössischer Gebäudeidentifikator." },
          "valueType": { "type": "string", "example": "Text (9)" },
          "keyRole": { "type": "string", "enum": ["PK", "FK", "Keine"], "example": "PK" },
          "codeList": { "type": ["string", "null"], "example": null }
        }
      },
      "Relation": {
        "type": "object",
        "required": ["type", "targetKind", "targetId", "targetName"],
        "properties": {
          "type": { "type": "string", "example": "realizedIn" },
          "targetKind": { "type": "string", "example": "datasets" },
          "targetId": { "type": "string", "example": "sap-vibdbe" },
          "targetName": { "type": "string", "example": "Gebäude (VIBDBE)" }
        }
      },
      "System": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityCore" },
          {
            "type": "object",
            "properties": {
              "technology": { "type": "string", "example": "SAP S/4HANA" },
              "dataCustodian": { "type": "string", "example": "Portfoliomanagement" },
              "tableCount": { "type": "integer", "example": 6 }
            }
          }
        ]
      },
      "Dataset": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityCore" },
          {
            "type": "object",
            "required": ["technicalName", "system", "realizes"],
            "properties": {
              "technicalName": { "type": "string", "example": "VIBDBE" },
              "system": { "type": "string", "example": "sap" },
              "realizes": { "type": "string", "example": "gebaeude" },
              "dataCustodian": { "type": "string", "example": "Portfoliomanagement" },
              "fieldCount": { "type": "integer", "example": 8 }
            }
          }
        ]
      },
      "Field": {
        "type": "object",
        "required": ["technicalName", "labels", "dataType"],
        "properties": {
          "identifier": { "type": "string", "minLength": 1, "description": "Optionaler stabiler Feldidentifikator; ohne Angabe wird technicalName verwendet." },
          "technicalName": { "type": "string", "minLength": 1, "example": "SWERK", "description": "Technischer Spaltenname; wird nicht übersetzt." },
          "labels": { "$ref": "#/components/schemas/LocalizedLabel" },
          "description": { "type": "string", "example": "Bewirtschaftungseinheit" },
          "dataType": { "type": "string", "example": "CHAR(4)" },
          "nullable": { "type": "boolean", "example": false },
          "mapsToAttribute": { "type": ["string", "null"], "example": "gebaeude/bewirtschaftungseinheit" }
        }
      },
      "LocalizedLabel": {
        "type": "object",
        "required": ["de"],
        "additionalProperties": false,
        "description": "Bezeichnung nach Sprache. Deutsch ist erforderlich und dient als Fallback. Fehlende Übersetzungen werden weggelassen.",
        "properties": {
          "de": { "type": "string", "minLength": 1, "example": "Bewirtschaftungseinheit" },
          "fr": { "type": "string", "minLength": 1 },
          "it": { "type": "string", "minLength": 1 },
          "en": { "type": "string", "minLength": 1 }
        }
      },
      "CodeList": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityCore" },
          {
            "type": "object",
            "properties": {
              "sourceAuthority": { "type": "string", "example": "GWR / eCH" },
              "businessObject": { "type": "string", "example": "gebaeude" },
              "valueCount": { "type": "integer", "example": 6 }
            }
          }
        ]
      },
      "CodeValue": {
        "type": "object",
        "required": ["code", "label"],
        "properties": {
          "code": { "type": "string", "example": "1020" },
          "label": { "type": "string", "example": "Gebäude mit ausschliesslicher Wohnnutzung" }
        }
      },
      "DataProduct": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityCore" },
          {
            "type": "object",
            "properties": {
              "domain": { "type": "string", "example": "bau" },
              "accessRights": { "type": "string", "example": "intern" },
              "format": { "type": "array", "items": { "type": "string" }, "example": ["CSV", "GeoJSON"] },
              "accrualPeriodicity": { "type": "string", "example": "monatlich" }
            }
          }
        ]
      },
      "ApiService": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityCore" },
          {
            "type": "object",
            "properties": {
              "protocol": { "type": "string", "example": "REST" },
              "endpointURL": { "type": "string", "format": "uri", "example": "https://api.example/v2" },
              "documentation": { "type": "string", "format": "uri", "example": "https://api.example/docs" },
              "accessRights": { "type": "string", "example": "intern" }
            }
          }
        ]
      },
      "SearchHit": {
        "type": "object",
        "required": ["kind", "identifier", "name", "href"],
        "properties": {
          "kind": { "type": "string", "example": "objects" },
          "identifier": { "type": "string", "example": "gebaeude" },
          "name": { "type": "string", "example": "Gebäude" },
          "description": { "type": "string", "example": "Ein dauerhaftes, überdachtes Bauwerk." },
          "href": { "type": "string", "example": "/concepts/gebaeude" }
        }
      },
      "Error": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": { "type": "string", "example": "not_found" },
          "message": { "type": "string", "example": "Der Katalogeintrag wurde nicht gefunden." },
          "traceId": { "type": "string", "example": "01JABCDEF123456789" }
        }
      }
    }
  }
}
